.image-fit{
	width: 100%;
	height: 150px;	
}
.fix-height{
	height: 800px;
}
.font-black{
	color: black;
}
.filler-height{
	height: 150px;
}
.student img {
  margin: 0 auto;
  width: 150px;
}

.student {
  text-align: center;
}