.image-fit{
	width: 100%;
	height: 150px;	
}
.fix-height{
	height: 800px;
}
.student img {
  margin: 0 auto;
  width: 150px;
}

.student {
  text-align: center;
}
.bar {
  fill: steelblue;
  /*fill: #6b486b;
  fill: #ff8c00;*/
}

.bar:hover {
  fill: orangered;
}

.axis {
  font: 15px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.container {
	float: left;
	width: 40%;
	height: 50px;
}

.container2 {
	float: right;
	width: 40%;
	height: 50px;
}