.image-fit{
	width: 100%;
	height: 150px;	
}
.fix-height{
	height: 800px;
}
.student img {
  margin: 0 auto;
  width: 150px;
}

.student {
  text-align: center;
}
.bar {
  fill: steelblue;
  /*fill: #6b486b;
  fill: #ff8c00;*/
}

.bar:hover {
  fill: orangered;
}

.axis {
  font: 15px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

#hybrid-roc {
	height: 550px;
	width: 1030px;
}

#hybrid-roc svg {
	height: 600px;
	width: 1100px;
}

#hybrid-v3-roc {
	height: 550px;
	width: 1030px;
}

#hybrid-v3-roc svg {
	height: 600px;
	width: 1100px;
}

#ht-lg-roc {
	height: 550px;
	width: 1030px;
}

#ht-lg-roc svg {
	height: 600px;
	width: 1100px;
}

#ht-gt-netflix {
	height: 550px;
	width: 1030px;
}

#ht-gt-netflix svg {
	height: 600px;
	width: 1100px;
}

#ht-gt-stanford {
	height: 550px;
	width: 1030px;
}

#ht-gt-stanford svg {
	height: 600px;
	width: 1100px;
}

#ht-gt-htbin {
	height: 550px;
	width: 1030px;
}

#ht-gt-htbin svg {
	height: 600px;
	width: 1100px;
}

#ht-gt-htcateg {
	height: 550px;
	width: 1030px;
}

#ht-gt-htcateg svg {
	height: 600px;
	width: 1100px;
}

#ht-lead-g-bin {
	height: 550px;
	width: 1030px;
}

#ht-lead-g-bin svg {
	height: 600px;
	width: 1100px;
}

#ht-lead-g-bin-htmodel {
	height: 550px;
	width: 1030px;
}

#ht-lead-g-bin-htmodel svg {
	height: 600px;
	width: 1100px;
}

#ht-lead-g-categ {
	height: 550px;
	width: 1030px;
}

#ht-lead-g-categ svg {
	height: 600px;
	width: 1100px;
}

#ht-lead-g-categ-htmodel {
	height: 550px;
	width: 1030px;
}

#ht-lead-g-categ-htmodel svg {
	height: 600px;
	width: 1100px;
}

#ht-lg-cluster-stan {
	height: 550px;
	width: 1030px;
}

#ht-lg-cluster-stan svg {
	height: 600px;
	width: 1100px;
}

#ht-lg-cluster-htcat {
	height: 550px;
	width: 1030px;
}

#ht-lg-cluster-htcat svg {
	height: 600px;
	width: 1100px;
}

#hybrid-1 {
	height: 550px;
	width: 1030px;
}

#hybrid-1 svg {
	height: 600px;
	width: 1100px;
}

#ieee-on-ieee {
	height: 550px;
	width: 1030px;
}

#ieee-on-ieee svg {
	height: 600px;
	width: 1100px;
}

#ieee-on-ieee-merged {
	height: 550px;
	width: 1030px;
}

#ieee-on-ieee-merged svg {
	height: 600px;
	width: 1100px;
}

#nasa-20 {
	height: 550px;
	width: 1030px;
}

#nasa-20 svg {
	height: 600px;
	width: 1100px;
}

/*overflow: visible */
/*.container {
	float: left;
}

.container2 {
	float: right;
}*/